Django==1.6.5
PyRSS2Gen==1.0.0
South==1.0
Twisted==12.2.0
altgraph==0.10.1
bdist-mpkg==0.4.4
dj-static==0.0.6
django-tastypie==0.11.1
gnureadline==6.3.3
ipython==2.2.0
macholib==1.5
modulegraph==0.10.1
psycopg2==2.5.3
py2app==0.7.1
pyOpenSSL==0.13
python-dateutil==1.5
python-mimeparse==0.1.4
pytz==2012d
sqlparse==0.1.11
static3==0.5.1
virtualenv==1.11.6
wsgiref==0.1.2
xattr==0.6.4
ystockquote==0.2.4
zope.interface==3.8.0
