APScheduler==2.1.2
Django==1.5.1
South==0.8.4
Werkzeug==0.9.4
amqp==1.0.13
anyjson==0.3.3
billiard==2.7.3.34
-e git://github.com/earle/django-bootstrap.git@97eb50b3f4932798e7fa8ad4b42f0534d521826d#egg=bootstrap-dev
celery==3.0.24
distribute==0.6.40
dj-database-url==0.2.2
dj-static==0.0.5
django-celery==3.0.23
django-common-helpers==0.6.0
django-cron==0.3.2
django-crontab==0.5.1
django-phonenumber-field==0.2a3
gunicorn==18.0
httplib2==0.8
ipdb==0.8
ipython==0.13.2
kombu==2.5.15
phonenumbers==5.9.2
pika==0.9.8
psycopg2==2.5.1
python-dateutil==2.1
pytz==2013.7
pywapi==0.3.8
six==1.4.1
static==0.4
twilio==3.6.2
unittest2==0.5.1
virtualenv==1.10.1
wsgiref==0.1.2
ystockquote==0.2.4
