<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">
	<head>
	    <title>{% block title %}{% endblock %}</title>
	    <meta name="viewport" content="width=device-width, user-scalable=no">
	    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
 		<script src="//code.jquery.com/jquery-1.9.1.js"></script>
  		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  		<link rel="stylesheet" href="/resources/demos/style.css">
	 	<script type = 'text/javascript' src= '{{STATIC_URL}}set_schedule.js'></script>

	 	<script>
	  		$(function() {
				$( "#id_start_date" ).datepicker({ dateFormat: "yy-mm-dd", minDate: 0,})
			});


	  	</script>

	  	<style>
	  		#id_message{
	  			height: 70px;
	  		}
	  		#id_start_date, #id_message, #id_frequency, #id_hour, #id_minute {
	  			font-size: 14px;
	  			width: 200px;
	  		}
	  		.left-col{
	  			border-right: 1px solid #e5e5e1;
	  			padding-top: 15px;
	  		}
	  		.inside{}

	  	</style>


	</head>
	<body>
	    
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	    <div class="container">
	    	<div class = "row">
			    <ul class="nav nav-tabs">
				  	<li><a href="/">My Dashboard</a></li>
					<li><a href="/set_schedule">Change Schedules</a></li>
					{% if user.is_authenticated %}
						<li><a href="/logout">Logout</a></li>
						<li><a>Hello, {{user.username}}</a></li>
					{% endif %}

				</ul>
			</div>
		</div>


	    {% block content %}{% endblock %}
	    {% block footer %}
	    
	    <div class="panel panel-default">
  			<div class="panel-body">
    			
  			</div>
  			<div class="panel-footer">
  				<a href = /admin>Admin link </a>
  			</div>
		</div>
	    {% endblock %}
	</body>
</html>