</div>
<h1>List of books</h1>

<a href="/create/book">Add book</a>
{% if latest_book_list %}
    <table border=1>
        <tr>
          <th>Name</th>
          <th>&nbsp;</th>    
        </tr>
        {% for book in latest_book_list %} 
        <tr>
          <td>
              {{ book.title }}
          </td>
          <td>
            <a href="/edit/book/{{ book.id }}/">edit</a>
      <a href="/delete/book/{{ book.id }}/">delete</a>
          </td>      
        </tr>
        {% endfor %}    
    </table>

{% else %}
    <p>No contacts created.</p>
{% endif %}