{% extends "blank_header.html" %}

{% block content %}

<div class = 'col-md-4'>
    <h2>Log in to MemorySMS</h2>

    <form class = "form" action="" method="post">
    <div class = 'signup-form'>
        <label for = "user">Username </label>  
        <input class = "form-control id_username" type="text" name="email" label = "Email">
        {{form.username.errors}}
    </div>
    
    <div class = 'signup-form'>
        <label for = "Password">Password</label>  
        <input class = "form-control id_password" type="password" name="password" label = "Password" id = "password">
        {{form.password.errors}}
    </div>   
    <div>

    {% csrf_token %}
    <button class="btn btn-lg btn-primary btn-block btn-auth" type="submit">Log in </button>
    </div>

    </form>

<div class = 'under-button-txt'>Don't have an account?
    <a href="/signup"> Sign up</a>
</div>

 <!--col-xs-8 -->

<!--     <div class = 'col-xs-6'>
        <h4>Why Sign up for ReminderApp?</h4>
            <ol>
                <li>Set SMS reminders for anything at anytime </li>
                <li>Get the prices of your stocks sent to your phone whenever so you make the best decisions</li>
                <li>Never forget anything ever again!</li>
            </ol>
    </div> -->



{% endblock %}
