
{% extends "base.html" %}

{% block content %}

<div class = 'well'>

    <div class="container">
        <h2 class="form-signin-heading">Sign in to ReminderApp</h2>

        <form class = "form-signin" action="" method="post">
        <p>
            <label for = "email">Username </label>  
            <input class = "form-control" type="text" name="email" label = "Email">
        </p><p>
            <label for = "Password">Password</label>  
            <input class = "form-control" type="password" name="password" label = "Password">
        </p><p>   
            {% csrf_token %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log in </button>
        </p>
    </form>
   
    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    </div> <!-- /container -->
</div>

{% endblock %}
