{% extends "base.html" %}

{% block content %}

<div class = 'col-md-12 left-col'><h3>Current Messages on Schedule</h3>

<table>
{% for frequency in used_frequency %}
	
	<tr><td><h5> {{frequency}}</h5> <td></tr>
	
	{% for schedule in latest_schedule %}
		
		{% if frequency == schedule.frequency %}
		
			<tr>
				<td class = 'message-left-col' >
                    {% if schedule.type == 'Stocks' %}
                    <span>Your Stock Prices</span>
                    {% else %}
                    <span class = 'italic-message'>'{{schedule.message }}'</span>
                    {% endif %}
                    <span class = 'small-text'>   at {{schedule.hour}}:{{schedule.minute}} starting  on {{schedule.start_date}}</span>
                  </td>
				<td class = 'link-small'><a href="/sms_schedule/{{ schedule.id }}">Send Test</a></td>
				<td class = 'link-small'><a href="/delete_schedule/{{ schedule.id }}">Remove</a></td>
				<td class = 'link-small'><a href="/edit_schedule/{{ schedule.id }}">Edit</td>
				{% if schedule.paused_at = None %}
					<td class = 'link-small'><a href="/pause_schedule/{{ schedule.id }}">Pause Schedule</td>
				{% else%}
					<td class = 'link-small'><a href="/resume_schedule/{{ schedule.id }}">Resume Schedule</td>
				{% endif %}
			</tr>
		
		{% endif %}
	{% endfor %}
	
{% endfor %}
</table>
</div> <!-- -->

{% endblock %}
