{% extends "base.html" %}

{% block content %}
  
<div class = 'container inside-container'>
  <div class = "row">
    <div class = 'col-xs-4 left-col'>
      
      <h4>Add a New Scheduled Message</h4>

        <form class = "form-inline" action="" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <button type="submit button" class="btn btn-primary">Set Schedule</button> 
      </form>

    {% if latest_user_stocks_list %}
        <h3>Your Stocks </h3>
          {% for user_stocks in latest_user_stocks_list %} 
              <p>{{ user_stocks.stock }}   ${{ user_stocks.price}}</p>
          {% endfor %}    
          <a href="/edit_stocks">Edit Stocks</a>      
    {% else %}
      <div>
        <a href="/edit_stocks"><button type="button" class="btn btn-primary">Add Stocks</button></a>
      </div>
    {% endif %}

    {% if latest_user_data_list %}
        <h4>Your Settings</h4>
          {% for user_data in latest_user_data_list %} 
             <p>Zip Code: {{ user_data.zip_code }}</p>
             <p>Phone Number {{ user_data.phone_number }}</p>
          {% endfor %}    
        <a href="/edit_data">Edit Info</a>
    </div>
    {% endif %}


    {% if latest_schedule %}
      <div class = 'col-xs-8' >
        <h3>Current Messages on Schedule</h3>
        <p></p>
        {% for frequency in used_frequency %}
          <h5> {{ frequency}} </h5>
          {% for schedule in latest_schedule %}
            {% if frequency == schedule.frequency %}
            <div> 
              <span>'{{schedule.message }}'</span>
              <span> at {{schedule.hour}}:</span>
              <span>{{schedule.minute}}</span>
              <span>starting  on {{schedule.start_date}}</span>
            </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      <p></p>
      <a href="/set_schedule">Edit Schedules</a>
      </div>
    {% endif %}

    
  </div>
</div>


{% endblock %}
